<h1>Listing contacts</h1>

<%= 
  render :partial => 'standard_table',
  :locals => {:list => @contacts, :with => ["date", "tasks_list", "details"]} 
%>

<br />
<%= link_to 'New Contact', new_contact_path %>
