<p> <b>Description:</b> <%= @effort.description %> </p>
<p> <b>From:</b> <%= @effort.from.to_formatted_s(:long) %> </p>
<p> <b>To:</b> <%= @effort.to.to_formatted_s(:long) %> </p>
<p> <b>Spent effort in hours:</b> <%= @effort.ammount %></p>